.wrapper {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--black);
    padding-top: 46px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 150px;
}

.shadow {
    position: absolute;
    top: 20%;
    width: 311px;
    height: 311px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #961A1A, #0E1014);
    opacity: 0.3;
}

@media (max-width: 1175px) {
    .wrapper {
        padding-top: 0;
    }

    .container {
        margin: 0;
        width: 100%;
    }
}
